<%= stylesheet_link_tag "projectIndex", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "controllers/search_project", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>
<% content_for :title, I18n.t("projects.projects") %>
<div class="container-md">
  <h1><%= I18n.t("projects.projects") %></h1>
  <div class="container-fluid p-3" style="background-color: white; border: 2px solid #A8A8A8">
    <!-- Search and Filters -->
    <%= form_with url: projects_path, method: :get, local: false, id: "filters-form", data: { controller: "project-filters", project_filters_target: "form" } do %>
      <div class="row justify-content-between align-items-center">
        <!-- Search Bar -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
          <div class="input-group search-bar">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: I18n.t('projects.search'), data: { "project-filters-target": "input" } %>
          </div>
        </div>
        <!-- New Project Button -->
        <div class="col-lg-2 col-md-3 col-sm-12 mb-2 text-end">
          <%= link_to new_project_path, class: 'btn btn-create w-100' do %>
            <i class="fas fa-plus"></i> <%= I18n.t("projects.new_project") %>
          <% end %>
        </div>
      </div>
      <!-- Filters Section -->
      <div class="row mt-3 align-items-center">
        <%# Expertise Filter %>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
          <label for="expertise" class="fw-bold"><%= I18n.t("projects.filters.expertise") %></label>
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span data-project-filters-target="label"><%= I18n.t("projects.filters.select_expertise") %></span>
            </button>
            <ul class="dropdown-menu w-100" data-filter-name="expertise">
              <li class="ms-2">
                <label class="dropdown-item">
                  <input type="checkbox" class="form-check-input me-2" data-project-filters-target="option" value="Select all" data-action="change->project-filters#toggleOption">
                  <%= I18n.t("projects.filters.select_all") %>
                </label>
              </li>
              <% @expertise_values.each do |expertise| %>
                <li class="ms-2">
                  <label class="dropdown-item">
                    <input type="checkbox" class="form-check-input me-2" data-project-filters-target="option" value="<%= expertise %>" data-action="change->project-filters#toggleOption" <%= 'checked' if params.dig(:filters, :expertise)&.include?(expertise) %>>
                    <%= expertise %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <%# Key Topics Filter %>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
          <label for="key_topics" class="fw-bold"><%= I18n.t("projects.filters.key_topics") %></label>
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span data-project-filters-target="label"><%= I18n.t("projects.filters.select_topics") %></span>
            </button>
            <ul class="dropdown-menu w-100" data-filter-name="key_topics">
              <li class="ms-2">
                <label class="dropdown-item">
                  <input type="checkbox" class="form-check-input me-2" data-project-filters-target="option" value="Select all" data-action="change->project-filters#toggleOption">
                  <%= I18n.t("projects.filters.select_all") %>
                </label>
              </li>
              <% @key_topics_values.each do |topic| %>
                <li class="ms-2">
                  <label class="dropdown-item">
                    <input type="checkbox" class="form-check-input me-2" data-project-filters-target="option" value="<%= topic %>" data-action="change->project-filters#toggleOption" <%= 'checked' if params.dig(:filters, :key_topics)&.include?(topic) %>>
                    <%= topic %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <%# Location Filter %>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
          <label for="location" class="fw-bold"><%= I18n.t("projects.filters.location") %></label>
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span data-project-filters-target="label"><%= I18n.t("projects.filters.select_location") %></span>
            </button>
            <ul class="dropdown-menu w-100" data-filter-name="location">
              <li class="ms-2">
                <label class="dropdown-item">
                  <input type="checkbox" class="form-check-input me-2" data-project-filters-target="option" value="Select all" data-action="change->project-filters#toggleOption">
                  <%= I18n.t("projects.filters.select_all") %>
                </label>
              </li>
              <% @location_values.each do |location| %>
                <li class="ms-2">
                  <label class="dropdown-item">
                    <input type="checkbox" class="form-check-input me-2" data-project-filters-target="option" value="<%= location %>" data-action="change->project-filters#toggleOption" <%= 'checked' if params.dig(:filters, :location)&.include?(location) %>>
                    <%= location %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <%# Buttons %>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-end align-items-baseline mt-3 gap-2">
          <button type="button" class="btn btn-delete btn-sm w-100" data-action="click->project-filters#clearAll">
            <i class="fas fa-times"></i> <%= I18n.t("projects.filters.clear_all") %>
          </button>
          <button type="submit" class="btn btn-secondary btn-sm w-100">
            <i class="fas fa-search"></i> <%= I18n.t("projects.filters.find") %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag "projects" do %>
    <%= render partial: "projects_table", locals: { projects: @projects } %>
  <% end %>
</div>
