 <div id="<%= dom_id expert %>">
  <p>
    <strong><%= I18n.t('experts.fields.name') %>:</strong>
    <%= expert.name %>
  </p>

  <p>
    <strong><%= I18n.t('experts.fields.firstname') %>:</strong>
    <%= expert.firstname %>
  </p>

  <p>
    <strong><%= I18n.t('experts.fields.email') %>:</strong>
    <%= expert.email %>
  </p>

  <p>
    <strong><%= I18n.t('experts.fields.expertise') %>:</strong>
    <%= expert.expertise %>
  </p>

  <p>
    <strong><%= I18n.t('experts.fields.institution') %>:</strong>
    <%= expert.institution %>
  </p>

  <p>
    <strong><%= I18n.t('experts.fields.additional_info') %>:</strong>
    <%= expert.additionalInfo %>
  </p>
</div>
